@charset "utf-8";
/* CSS Document */

#gameboard { background-color:black; }

#game-wrapper { margin:0 auto 0 auto; width: 1000px; }
	  
body {
	color: #FFF;
	background-color: #333;
}

#game-wrapper #score {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #FFF;
	text-align: left;
	float: left;
	visibility: visible;
	padding-right: 30px;
}

#game-wrapper #highscore {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #FFF;
	text-align: left;
	float: left;
	visibility: visible;
	padding-right: 30px;
}

#game-wrapper #countdown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #FFF;
	text-align: left;
	float: left;
	visibility: visible;
	padding-right: 30px;
}